<div class="detaled-cat">

<label for="name">Cat's name:</label>
<h1>{{  user.catDetails.name }}</h1>
<label for="age">Cat's age:</label>
<h2>{{  user.catDetails.age }}</h2>
<label for="gender">Cat's gender:</label>
<h1>{{  user.catDetails.gender }}</h1>
<label for="furColour">Cat's fur colour:</label>
<h1>{{  user.catDetails.furColour }}</h1>
<label for="afavouriteMusic">Favourite music:</label>
<h1>{{  user.catDetails.favouriteMusic }}</h1>
<label for="favouriteFood">Favourite food:</label>
<h1>{{  user.catDetails.favouriteFood }}</h1>
<label for="favouriteTvShow">Favourite TV show:</label>
<h1>{{  user.catDetails.favouriteTvShow }}</h1>
<label for="favouriteGame">Favourite game:</label>
<h1>{{  user.catDetails.favouriteGame }}</h1>
<label for="yoga">Cat Yoga</label>
<h1>{{  user.catDetails.yoga }}</h1>
<label for="scratching">Loves scratching?</label>
<h1>{{  user.catDetails.scratching }}</h1>
<label for="apurring">Like purring?</label>
<h1>{{  user.catDetails.purring }}</h1>

<a href="/make-booking/{{user._id}}"><button type="submit" class="btn btn-primary mb-2">Book your cat experience</button>
</a>


{{!-- <button >Book your cat experience</button> --}}

</div>